html,
body {
	background: #222;
}

html {
	height: 100%
}

body {
	color: white;
	font-family: monospace;
	font-size: 16px;
	line-height: 1.4;
	margin: 0;
	min-height: 100%;
	overflow-wrap: break-word
}

.post-meta {
	text-align: right
}

h2,
h3,
h4,
h5,
h6 {
	margin-top: 3rem
}

hr {
	margin: 2rem 0
}

p {
	margin: 1rem 0
}

li {
	margin: 0.4rem 0
}

*:target {
	background: #ff0321;
}

a:link {
  color: #ff0321;
}

/* visited link */
a:visited {
  color: #B02450;
}

/* selected link */
a:active {
  color: #CC2B4B;
}

.w {
	max-width: 640px;
	margin: 0 auto;
	padding: 4rem 2rem
}

hr {
	text-align: center;
	border: 0
}

hr:before {
	content: "/////"
}

hr:after {
	content: attr(data-content) "/////"
}

table {
	width: 100%
}

table,
th,
td {
	border: thin solid black;
	border-collapse: collapse;
	padding: 0.4rem
}

code {
	color: white;
	background: black
}

div.highlighter-rouge code {
	display: block;
	overflow-x: auto;
	white-space: pre-wrap;
	padding: 1rem
}

blockquote {
	font-style: italic;
	border: thin solid black;
	padding: 1rem
}

blockquote p {
	margin: 0
}

img {
	max-width: 100%;
	display: block;
	margin: 0 auto
}

.highlight table td{padding:5px}.highlight table pre{margin:0}.highlight .gh{color:#999}.highlight .sr{color:#f6aa11}.highlight .go{color:#888}.highlight .gp{color:#555}.highlight .gu{color:#aaa}.highlight .nb{color:#f6aa11}.highlight .cm{color:#75715e}.highlight .cp{color:#75715e}.highlight .c1{color:#75715e}.highlight .cs{color:#75715e}.highlight .c,.highlight .cd,.highlight .ch,.highlight .cpf{color:#75715e}.highlight .err{color:#960050}.highlight .gr{color:#960050}.highlight .gt{color:#960050}.highlight .gd{color:#49483e}.highlight .gi{color:#49483e}.highlight .ge{color:#49483e}.highlight .kc{color:#66d9ef}.highlight .kd{color:#66d9ef}.highlight .kr{color:#66d9ef}.highlight .no{color:#66d9ef}.highlight .kt{color:#66d9ef}.highlight .mf{color:#ae81ff}.highlight .mh{color:#ae81ff}.highlight .il{color:#ae81ff}.highlight .mi{color:#ae81ff}.highlight .mo{color:#ae81ff}.highlight .m,.highlight .mb,.highlight .mx{color:#ae81ff}.highlight .sc{color:#ae81ff}.highlight .se{color:#ae81ff}.highlight .ss{color:#ae81ff}.highlight .sd{color:#e6db74}.highlight .s2{color:#e6db74}.highlight .sb{color:#e6db74}.highlight .sh{color:#e6db74}.highlight .si{color:#e6db74}.highlight .sx{color:#e6db74}.highlight .s1{color:#e6db74}.highlight .dl,.highlight .s,.highlight .sa{color:#e6db74}.highlight .na{color:#a6e22e}.highlight .nc{color:#a6e22e}.highlight .nd{color:#a6e22e}.highlight .ne{color:#a6e22e}.highlight .fm,.highlight .nf{color:#a6e22e}.highlight .vc{color:#fff;background-color:#272822}.highlight .nn{color:#fff;background-color:#272822}.highlight .nl{color:#fff;background-color:#272822}.highlight .ni{color:#fff;background-color:#272822}.highlight .bp{color:#fff;background-color:#272822}.highlight .vg{color:#fff;background-color:#272822}.highlight .vi{color:#fff;background-color:#272822}.highlight .nv,.highlight .vm{color:#fff;background-color:#272822}.highlight .w{color:#fff;background-color:#272822}.highlight{color:#fff;background-color:#272822}.highlight .n,.highlight .nx,.highlight .py{color:#fff;background-color:#272822}.highlight .ow{color:#f92672}.highlight .nt{color:#f92672}.highlight .k,.highlight .kv{color:#f92672}.highlight .kn{color:#f92672}.highlight .kp{color:#f92672}.highlight .o{color:#f92672}
